.profile {
  max-width: 880px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: max-content;
    grid-template-rows: auto;
    row-gap: 36px;
  }
}


