.header {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  padding-bottom: 0;
}

@media  (max-width: 1024px) {
  .header {
    padding-top: 48px;
    padding-right: 20px;
    padding-left: 20px;

  }
}
