.elements {
  margin: auto;
  justify-content: center;
  padding-top: 47.25px;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(auto-fill,282px);
  gap: 14px;
  padding-left: 19px;
  padding-right: 19px;
}



